## 1. Import modules

In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import time
import turicreate as tc
from sklearn.model_selection import train_test_split

import sys
sys.path.append("..")

## 2. Load data
- recommend_1.csv consisting of a list of 1000 customer IDs to recommend as output
- trx_data.csv consisting of user transactions

In [2]:
customers = pd.read_csv('./data/recommend_1.csv') 
transactions = pd.read_csv('./data/trx_data.csv')

In [3]:
print(customers.shape)
print(customers.head())
customerId = list(customers['customerId'])
0 in customerId

(1000, 1)
   customerId
0        1553
1       20400
2       19750
3        6334
4       27773

False

In [4]:
print(transactions.shape)
print(transactions.head())

(62483, 2)
   customerId                        products
0           0                              20
1           1  2|2|23|68|68|111|29|86|107|152
2           2       111|107|29|11|11|11|33|23
3           3                         164|227
4           5                             2|2

## 3. Data preparation

In [16]:
data.head()

   customerId variable                        products
0           0        0                              20
1           1        0  2|2|23|68|68|111|29|86|107|152
2           2        0       111|107|29|11|11|11|33|23
3           3        0                         164|227
4           5        0                             2|2

In [36]:
customersId, productId = list(transactions['customerId']), list(transactions['products'])
temp_cus = []
temp_pro = []
temp_
for cus, pro in zip(customersId, productId):
    pro = pro.split('|')
    for p in pro:
        temp_cus.append(cus)
        temp_pro

(61282, 3)

In [6]:
data = pd.melt(transactions.set_index('customerId')['products'].apply(pd.Series).reset_index(), 
             id_vars=['customerId'],
             value_name='products') \
    .dropna().drop(['variable'], axis=1) \
    .groupby(['customerId', 'products']) \
    .agg({'products': 'count'}) \
    .rename(columns={'products': 'purchase_count'}) \
    .reset_index() \
    .rename(columns={'products': 'productId'})
data['productId'] = data['productId'].astype(np.int64)

ValueError: invalid literal for int() with base 10: '198|260|157|136|136'

In [11]:
data.head()

   customerId            productId  purchase_count
0           0  198|260|157|136|136               1
1           0             19|19|19               1
2           0            1|1|31|31               1
3           0                   20               1
4           0  216|52|260|93|93|93               1